@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

input,
select {
    font-size: 0.8rem;
}



.back {
    background-image: url("/assets/mits.png");
}

.logo {
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}