<div style="text-align: center;font-family: 'Cabin', sans-serif;;height:100vh ;" class="table-responsive">

    <div class="pt-2 pb-2"
        style="font-family: 'Poppins', sans-serif;letter-spacing: 0.2px;color: aliceblue;background-color: rgba(0, 0, 0, 0.4);">
        <span style="opacity: 1 !important;">
            <span>MADANAPALLE INSTITUTE OF TECHNOLOGY AND
                SCIENCE</span><br />
            <span style="font-size: 25px;">SYMPOSIUM</span><br />
            <span>Department of CST</span><br />
        </span>
    </div>

    <div class="card border-0 m-2 p-3 mt-3"
        style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;background-color:whitesmoke;">
        <span>
            Hello <strong class="linear">survivors , </strong>hope you are doing good . This is to inform you that there
            is
            an
            event going to take place on <span class="datestyle"> 2 </span><sup>nd</sup>
            <strong class="datestyle"> June </strong> .<br /> In
            part
            of that we are planning to conduct a <strong class="tour">BGMI Online tournament</strong> . <br />We promise
            you
            that , you can win
            some cool and exciting
            prizes.<br />

        </span>
        <br />

        <button class="btn shadow-none" routerLink="/register">
            <div class="mainlink">

                Click to REGISTER<br />
                <strong> ︻デ═一</strong>
            </div>

        </button>
    </div>


    <div class="card border-0 m-2 mt-3" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;background-color: white">
        <strong
            style="background: rgb(0,0,0);
        background: linear-gradient(118deg, rgba(0,0,0,1) 19%, rgba(252,127,69,1) 77%);font-size: 1.2rem;letter-spacing:1px ;color: white;border-top-left-radius: 4px;border-top-right-radius: 4px;padding: 1%;">Terms
            <span style="color: white;">and</span> conditions</strong><br />
        <span>


            <span style="text-align: left;font-weight: 600;letter-spacing: 0.4px;">
                <ul>
                    <li>No hacking
                    </li>
                    <li>Students from any institute can participate .
                    </li>
                    <li>No refund of money before <strong class="datestyle">6 hours</strong> of the match.
                    </li>
                </ul>
            </span>
            <div class="mainlink pb-2">
                <span class="tour" style="font-weight: 500 ;cursor: pointer;" routerLink="/details"> Click to go Details
                    section for
                    more
                    information . </span> <br /><br />
                <strong style="font-size: 1.2rem">HAPPY PLAYING !!!</strong><br />
            </div>
        </span>

    </div>










</div>