<div style="text-align: center;height:100vh ;" class="table-responsive">
    <div class="pt-2 pb-2" style="font-size: 1.3rem;font-family: 'Poppins', sans-serif;letter-spacing: 0.2px;color: aliceblue;background-color: rgba(0, 0, 0, 0.4);
        ">
        TOURNAMENT DETAILS
    </div>

    <div class="card border-0 m-2 p-3 mt-3">
        <div class="mainlink" style="font-size: 1.2rem;">

            ENTRY  120/- <br />

        </div>

    </div>

    <div class="card border-0 m-2 p-3 mt-3">
        <span style="font-weight:500 ;text-align: left;">
            <strong class="tour"> Two matches will be conducted</strong><br />
            <ol>
                <li>
                    Miramar [Date]

                </li>
                <li> Erangel [Date]</li>
            </ol>
            <ul>
                <li>Based on the positions and kills in perespective matches,the points table will be decided.
                </li>
                <li>The top three places in the table will be awarded with the prize money.
                </li>
                <li>Prize money will be announced in the Whatsapp group .
                </li>
            </ul>


        </span><br />
        <table class="table table-bordered"
            style="background-color: whitesmoke;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <tbody>
                <tr
                    style=" background: linear-gradient(144deg, rgba(252, 176, 69, 1) 19%, rgba(34, 193, 195, 1) 88%);color:white">
                    <td>Position</td>
                    <td>Points</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>8 to 12</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>per kill</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table><br />
        <a style="text-decoration: none;" href="https://chat.whatsapp.com/LTkJqwFrnGFJOQZ5MmpSjI" target="_blank">
            <strong class="tour">
                Click to join Whatsapp group .
            </strong>
        </a>



        <br />

        <button class="btn shadow-none" routerLink="/register">
            <div class="mainlink">

                Click to REGISTER<br />
                <strong> ︻デ═一</strong>
            </div>
        </button>

    </div>
</div>